<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1065768828965-h507f8ergvmr1397b5cpg1l9pavqdrld</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1065768828965-h507f8ergvmr1397b5cpg1l9pavqdrld.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
            <string>com.rockyourbody.sync</string>
        </array>
</dict>
</plist>
